body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background: #d2d2d2;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    margin: 150px 0px 0px 0px;
}

h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 1.5em;
    color: #333;
    border-radius: 10px 10px 0px 0px;
}

.display {
    background: #000661;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.btn {
    background: #d7d7d7;
    border: none;
    border-radius: 100px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
    background: #838383;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.341);
    transition: 0.5s;
}

.btn_equal {
    width: 100%;
    background: #ff5100;
    border: none;
    border-radius: 100px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn_equal:hover {
    background: #c23d00;
}

@media only screen and (max-width: 600px){

    .display {
        background: #000661;
        color: #fff;
        font-size: 2em;
        padding: 20px;
        text-align: right;

    }
    
    .calculator {
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        width: 320px;
        margin: 100px 0px 0px 0px;
    }
}
